@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
ul li {
  list-style: none;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Make it class  */
ul {
  display: flex;
  gap: 70px;
  padding-top: 10px;
  color: #212832;
  font-family: Google Sans;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  position: relative;
}
.navbar h2 {
  color: 000000;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}
.top-image {
  position: absolute;
  top: 0%;
  z-index: -1;
  right: -57px;
}
#sign {
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 3px;
}
.primary-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

.heading p strong {
  color: #df6951;
  font-family: "Poppins";
  font-size: 20px;
}

.heading h1 {
  font-size: 70px;
  margin-top: 4px;
  color: #181e4b;
  font-family: Volkhov;
}
.second-container {
  padding-top: 115px;
}
.second-container p {
  color: #5e6282;
  font-family: Poppins;
  font-size: 17px;
}

.btn {
  border: none;
  padding: 18px 23px;
  border-radius: 7px;
  background-color: #f1a501;
  color: #ffffff;
  font-size: 18px;
}

.play {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-top: 20px;
}
.play i {
  font-size: 50px;
  color: #df6951;
}
.play-demo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.image {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.plane-1 {
  position: absolute;
  top: 50px;
  left: 200px;
}
.plane-2 {
  position: absolute;
  top: 137px;
  right: -34px;
}
/* category section*/
.text {
  text-align: center;
}
.text h1 {
  font-size: 55px;
  margin-top: 4px;
  font-family: Volkhov;
  color: #14183e;
}
.text h4 {
  color: #5e6282;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
/* Category div */
.category {
  display: flex;
  align-items: end;
  justify-content: space-evenly;

  margin-top: 50px;
}
.weather,
.flights,
.events,
.customization {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 34px 20px;
  border-radius: 13px;
}
.weather{
  position: relative;

}
.weather::before{
  content: "";
  position: absolute;
  background-image: url("./Images/Rectangle\ 157.png");
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 13px;
}
.weather:hover {
  /* background-color: red; */
}
.flights img {
  height: 126px;
}
.weather h3 {
  margin-top: 12px;
  color: #1e1d4c;
  font-size: 18px;
}
.weather p {
  margin-top: 10px;
  color: #5e6282;
  font-size: 16px;
}
/* Flight Category */

.flights h3 {
  color: #1e1d4c;
}
.flights p {
  margin-top: 10px;
  color: #5e6282;
  font-size: 16px;
}

.events h3 {
  margin-top: 12px;
  color: #1e1d4c;
}
.events p {
  margin-top: 10px;
  color: #5e6282;
  font-size: 16px;
}

.customization h3 {
  margin-top: 12px;
  color: #1e1d4c;
  font-size: 18px;
}
.customization p {
  margin-top: 10px;
  color: #5e6282;
  font-size: 16px;
}
/* Heading */
.top-heading {
  margin-top: 130px;
  justify-content: space-around;
  text-align: center;
}
.top-heading h5 {
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  font-family: 29px;
}
.top-heading h1 {
  font-size: 50px;
  margin-top: 6px;
  color: #14183e;
}
/* Destinations */
.destinations {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}
/* City-1 */
.city-1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}
.city-2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}
.city-3 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}
.img-1 {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 15px;
}
.img-1 p {
  margin-left: 25px;
}
/* Booking Trips */
.booking {
  margin-top: 400px;
}
.booking h4 {
  font-family: poppins;
  margin-left: 15px;
  color: #5e6282;
  font-size: 20px;
}
.booking h1 {
  font-size: 55px;
  padding: 15px;
  color: #14183e;
}
/* Paragraphs Booking */
/* First img */
.first-img {
  margin-top: 15px;
  display: flex;
}
.first-img h5 {
  margin-left: 20px;
  color: rgb(113, 104, 104);
  font-family: poppins;
}
.first-img p {
  font-family: Poppins;
  font-size: 12px;
  position: absolute;
  margin-top: 25px;
  margin-left: 67px;
  color: #5e6282;
}
/* Second img */
.second-img {
  margin-top: 40px;
  display: flex;
}
.second-img h5 {
  margin-left: 20px;
  color: #5e6282;
  font-family: poppins;
}
.second-img p {
  font-family: poppins;
  font-size: 12px;
  position: absolute;
  margin-top: 25px;
  margin-left: 67px;
}
/* Third img */
.third-img {
  margin-top: 40px;
  display: flex;
}
.third-img h5 {
  margin-left: 20px;
  color: #5e6282;

  font-family: poppins;
}
.third-img p {
  font-family: poppins;
  font-size: 12px;
  position: absolute;
  margin-top: 25px;
  margin-left: 67px;
}
/* Trip To Greece */
.greece img {
  /* padding: 10%; */
}

.greece-text {
  columns: #84829a;
}
.greece-text h3 {
  color: #080809;
  font-family: poppins;
}
span h5 {
  color: #5e6282;
}
#img {
  color: #5e6282;
}
.easy-steps {
  display: flex;
  justify-content: space-around;
}

/* Testimonials section */
.main-testimonials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.test h4 {
  color: #5e6282;
  font-family: Poppins;
  font-size: 19px;
}
.test h1 {
  font-family: Volkhov;
  font-size: 65px;
  color: #14183e;
}
.about p {
  color: #5e6282;
  font-size: 17px;
  font-family: Poppins;
}
.taylor {
  padding-top: 20px;
}
.taylor h5 {
  color: #959baa;
  font-family: Poppins;
  font-size: 16px;
}
.taylor h4 {
  color: #5e6282;
  font-size: 20px;
}
.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5%;
}

/* Sec-Footer */
.sec-foot {
  height: 400px;
  text-align: center;
  /* padding-left: 6%; */
  background-color: #dfd7f9;
  margin: 0 75px;
  border-top: 1px solid #dfd7f9;
  border-top-left-radius: 90px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-top: 8%;
}
.sec-foot h2 {
  color: #5e6282;
  font-family: Poppins;
  font-size: 35px;
  line-height: 3rem;
}

.sec-foot button {
  background-color: #ff7d68;
  border: none;
  padding: 18px 35px;
  border-radius: 9px;
  color: #ffffff;
  font-size: 20px;
}
input {
  color: #39425d;
  padding: 18px 100px;
  font-size: 20px;
  border-radius: 9px;
  border: none;
}
.mail i {
  position: relative;
  top: 8px;
  left: 75px;
  font-size: 30px;
  color: #39425d;
}
.main-email {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 7%;
}
.part-1 {
  font-family: Poppins !important;
  display: flex;
  justify-content: space-evenly;
}

#jadoo h3 {
  font-family: Poppins !important;

  color: #181e4b;
  font-size: 34px;
}
#jadoo p {
  padding-top: 14px;
  font-size: 12px;
}

.part-1 p {
  color: #5e6282;
  padding-top: 14px;
  font-size: 20px;
}
.part-1 h4 {
  color: #080809;
  font-size: 22px;
  padding-top: 10%;
}
#company {
  padding-left: 25%;
}
#contact {
  padding-left: 15%;
  padding-right: 15%;
}

#googles {
  padding-top: 30px;
}
#plays {
  margin-bottom: 8px;
}
.part-2 p {
  color: #5e6282;
  font-size: 25px;
  padding-top: 12px;
}
.last p {
  color: #5e6282;
  font-size: 20px;
  padding-top: 4%;
  text-align: center;
  font-family: Poppins;
}
